body {
    padding-top: 20px;
    padding-bottom: 60px;
    font-family: 'Open Sans', sans-serif;
    color: #999;
}
a {
    color: #999;
}
a:hover {
    color: #333;
    text-decoration: none;
}

/* Custom container */
.container {
    margin: 0 auto;
    max-width: 1000px;
}
.container > hr {
    margin: 60px 0;
}
ul {
    margin: 0;
}
ul li {
    list-style: none;
}
/*HEADER*/
.masthead {
    padding: 20px 0 0;
    background: url('../images/body_bg.png') repeat-x;
    height: 155px;
}

/* Main marketing message and sign up button */
.jumbotron {
    margin: 150px 0;
    text-align: center;
}
.jumbotron h1 {
    font-size: 100px;
    line-height: 1;
}
.jumbotron .lead {
    font-size: 24px;
    line-height: 1.25;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 60px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}


/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .navbar-inner {
    padding: 0;
}
.navbar .nav {
    margin: 0;
}
.navbar .nav li {
    display: table-cell;
    width: 1%;
    float: none;
}
.navbar .nav li a {
    font-weight: bold;
    text-align: center;
    border-left: 1px solid rgba(255,255,255,.75);
    border-right: 1px solid rgba(0,0,0,.1);
}
.navbar .nav li:first-child a {
    border-left: 0;
    border-radius: 3px 0 0 3px;
}
.navbar .nav li:last-child a {
    border-right: 0;
    border-radius: 0 3px 3px 0;
}

/* ================= MY STYLES ================== */

/* GENERAL */
.page_tpl {
    min-height: 600px;
}
.logo {
    color: #999;
    text-decoration: none;
}
.logo:hover {
    color: #333;
    text-decoration: none;
}
.footer {
    padding: 50px 0;
    clear: both;
}

/* BLOG */
#post_page_wrap {
    padding: 10px;
    margin: 0 0 20px;
    border: 1px solid #eee;
}
#post_page_wrap a:hover {
    text-decoration: none;
}
.post_page {
    padding: 0 0 20px;
    margin: 0 0 20px;
    border-bottom: 1px dashed #ddd;
}
.post_page h2 > span {
    display: block;
    font-size: 13px;
    font-weight: normal;
    color: #777;
    background: #efefef;
    padding: 3px;
    margin: 5px 0 0;
    line-height: normal;
}
.author {
    text-transform: capitalize;
}
#form_submit {
    margin: 50px 0 0;
}
.contact .alert-block {
    padding: 20px;
    margin: 0 0 30px;
}

.pages h2,
.posts h2,
.single h2,
.contact h2 {
    font-size: 26px;
}
.posts h2 a:hover {
    text-decoration: none;
}
.posts h2 span,
.single h2 span {
    font-size: 14px;
    font-weight: normal;
    line-height: 12px;
}
.posts h2 > span,
.single h2 > span {
    display: block;
}
.posts article {
    margin: 0 0 10px;
    padding: 0 0 10px;
    border-bottom: 1px solid #eee;
}
.posts article:last-child {
    border-bottom: none;
}
#main_content {
    min-height: 300px;
}
.content {
    margin: 20px 0 0;
    padding: 10px 0 0;
}
.single .content {
    border-top: 1px solid #eee;
}  