/* ============== BOOTSTRAP OVERRIDE =============================================== */

body.admin > .navbar .brand {
	float: left;
	color: #eee;
	font-weight: normal;
	margin:0 20px 0 0;
}
.admin .dropdown-menu li > a {
	padding: 3px 10px;
}
.admin .dropdown-menu li > a i {
	margin-right: 5px;
}
.controls {
	background: #f9f9f9;
	padding: 10px 20px;
	min-height: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.users_update .controls {
	background: none;
	padding: 10px 0;
}
body.admin .controls label {
	min-width:100px;
}
body.admin .controls label, body.admin .controls p {
	float: left;
}
body.admin .controls p {
	color: #3A87AD;
	padding: 0 0 0 18px;	
}
body.admin .update_details label {
	float: none;
}
body.admin .update_details .controls {
	padding: 0;
}
#pages table {
	min-width: 320px;
}

/* ============== END BOOTSTRAP OVERRIDE =============================================== */



/* ============== GENERAL STYLES =============================================== */

.about {
	min-width: 340px;
}
label[for="forgot_password"] {
	text-align: right;
	display: block;
}
.alert-block {
	padding: 10px;
	margin: 0 0 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	float: left;
	width: 98%;
}
.alert-block p {
	padding: 0 10px
}
.alert-block a {
	margin-right: 10px;
}
.alert-success {
	background: #08C !important;
	color: #fff;
	padding: 10px;
	margin: 0 0 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.clearfix {
	clear: both;;
}

sup {
	font-size: 13px;
}
#user_detail {
	margin: 0 0 20px;
	min-height: 20px;
}
.hidden {
	display: none;
}
.btn {
	margin: 0 0 5px;
}
.action_left, .action_right {
	width: 50%;
}
.action_right .pagination {
	margin: 0;
}
.action_right .pagination ul {
	float: right;
}
.post_page_chosen_label {
	text-transform: capitalize;
}
.icon_status {
	display: block;
	width: 16px;
	margin: 0 auto;
}
/* ============== END GENERAL STYLES =============================================== */


/* ============== TABLE STYLES =============================================== */
.tbl_id {
	max-width: 20px;
}
.tbl_title {
	max-width: 100px;
}
.tbl_content {
	max-width: 200px;
}
/* ============== END TABLE STYLES =============================================== */