/*BOOTSTRAP OVERRIDE*/

body.admin > .navbar .brand {
	float: left;
	color: #eee;
	font-weight: normal;
	margin:0 20px 0 0;
}
.admin .dropdown-menu li > a {
	padding: 3px 10px;
}
.admin .dropdown-menu li > a i {
	margin-right: 5px;
}
.controls {
	background: #f9f9f9;
	padding: 10px 20px;
	min-height: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.users_update .controls {
	background: none;
	padding: 10px 0;
}
body.admin .controls label {
	min-width:100px;
}
body.admin .controls label, body.admin .controls p {
	float: left;
}
body.admin .update_details label {
	float: none;
}
body.admin .update_details .controls {
	padding: 0;
}
.details {
	padding: 0 0 0 18px;
}
.about {
	min-width: 340px;
}
label[for="forgot_password"] {
	text-align: right;
	display: block;
}
.alert-block {
	padding: 10px;
	margin: 0 0 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
}
.alert-success {
	background: #08C !important;
	color: #fff;
	padding: 10px;
	margin: 0 0 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.clearfix {
	clear: both;;
}
sup {
	font-size: 13px;
}